.panel-default > .panel-body{
    color:black;
    background:#5882FA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.panel-default > .panel-heading {
    background-color:black;
    color:#5882FA;
}
 body{
    background-color:black;
} 
 .heading{
     color:#5882FA;
 }
h2{
    color:white;
}
h1{
    padding-bottom: 30px;
}
.form-group>label{
color:white
}
@media only screen and (max-width: 500px){
    .write{
        content: "Write"
    }
}