<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="/guestbook.css" type="text/css">
</head>
<body class="container-fluid">
        <div>   
                <nav class="navbar navbar-inverse" >
                    <a href="#" class="navbar-brand">VowelCount</a> 
                    <div > 
                      <ul class="nav navbar-nav" >
                        <li ><a href="About">Home</a></li>
                        <li ><a href="Vowels">vowels</a></li>
                        <li><a href="Contact">Contact</a></li>
                        <li class="active"><a href="guestbook">Guestbook</a></li>
                       
                      </ul>
                    </div>
                   </nav>
              </div>
<h1>
<span class="heading"> Express Guestbook</span>
<a href="/new-entry" class="btn btn-success pull-right">
Write in the guestbook
</a>
</h1>