<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/guestbook.css" type="text/css">
</head>
<body >
      <div class="container-fluid">
        <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <li>
              <a href="#" class="navbar-brand">VowelCount</a>
            </li>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li >
                <a href="About">Home</a>
              </li>
              <li>
                <a href="Vowels">vowels</a>
              </li>
              <li>
                <a href="Contact">Contact</a>
              </li>
              <li class="active">
                <a href="guestbook">Guestbook</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <h1 id="h1">
<span class="heading col-xs-8"> Guestbook</span>
<a href="/new-entry" class="btn btn-success pull-right col-xs-4 write glyphicon glyphicon-pencil" id="writeicon" >
Write
</a>
</h1>