<% include header %>
<script>
  $('h1').hide();
</script>
<h2>Write a new entry</h2>
<form method="post" role="form">
<div class="form-group">
<label for="title" class="a">Name</label>
<input type="text" class="form-control" id="title"
  name="title" placeholder="Enter Your Name" required></div>

<div class="form-group">
<label for="content">Entry Note</label>
<textarea class="form-control" id="body" name="body"
placeholder="Enter Your Note" rows="3" required></textarea></div>

<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary"></div>
</form>
<% include footer %>